input:focus + label,
input:not(:placeholder-shown) + label {
  top: -0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: #0056D2;
}
label {
  top: 0.75rem;
  left: 0;
  position: absolute;
  transition: all 0.3s ease;
  color: #9CA3AF; /* gray-400 */
  pointer-events: none;
}
@keyframes progress {
  0% {
       transform: translateX(-100%);
      }
      100% {
      transform: translateX(100%);
      }
 }