<aside class="w-64 border-r border-gray-200 flex flex-col bg-white shrink-0 justify-between h-screen">

  <div class="p-8 flex items-center gap-3">
    <div class="bg-blue-600 rounded-lg p-2 shadow-sm shadow-blue-300/50">
      <span class="material-symbols-outlined text-white text-2xl">thermostat</span>
    </div>
    <div>
      <h1 class="text-lg font-bold leading-none tracking-tight text-gray-900">OcuTemp</h1>
      <p class="text-[10px] font-semibold uppercase tracking-wider text-gray-400 mt-1">IoT Admin Panel</p>
    </div>
  </div>

  <nav class="flex-1 px-4 space-y-1">
    <a class="flex items-center gap-3 px-4 py-2.5 bg-blue-100 text-blue-600 rounded-lg" href="#">
      <span class="material-symbols-outlined text-[22px]">dashboard</span>
      <span class="text-sm font-bold">Dashboard</span>
    </a>
    <a class="flex items-center gap-3 px-4 py-2.5 text-gray-600 hover:bg-gray-50 hover:text-blue-600 rounded-lg transition-all" href="#">
      <span class="material-symbols-outlined text-[22px]">meeting_room</span>
      <span class="text-sm font-semibold">Room Management</span>
    </a>
    <a class="flex items-center gap-3 px-4 py-2.5 text-gray-600 hover:bg-gray-50 hover:text-blue-600 rounded-lg transition-all" href="#">
      <span class="material-symbols-outlined text-[22px]">calendar_month</span>
      <span class="text-sm font-semibold">Class Scheduling</span>
    </a>
    <a class="flex items-center gap-3 px-4 py-2.5 text-gray-600 hover:bg-gray-50 hover:text-blue-600 rounded-lg transition-all" href="#">
      <span class="material-symbols-outlined text-[22px]">bar_chart</span>
      <span class="text-sm font-semibold">Energy Reports</span>
    </a>
    <a class="flex items-center gap-3 px-4 py-2.5 text-gray-600 hover:bg-gray-50 hover:text-blue-600 rounded-lg transition-all" href="#">
      <span class="material-symbols-outlined text-[22px]">map</span>
      <span class="text-sm font-semibold">Floor Plan</span>
    </a>
    <a class="flex items-center gap-3 px-4 py-2.5 text-gray-600 hover:bg-gray-50 hover:text-blue-600 rounded-lg transition-all" href="#">
      <span class="material-symbols-outlined text-[22px]">settings</span>
      <span class="text-sm font-semibold">Settings</span>
    </a>
  </nav>


  <div class="p-6 flex items-center gap-3 hover:bg-gray-50 rounded-xl transition-colors cursor-pointer">
    <div class="w-10 h-10 rounded-full border-2 border-gray-100 bg-cover bg-center" style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBHRHvoiGoRPaLIr7VaoBOYNk2nmAZ_tVDKzgsBXFT4NL4SjbP_N87NCGCgJLURnsgc1_eeg1fwUG8tesAmAiSMabi-n2zTWdKQBRunvHLojTC-hrfejvs16-tJ5gk9Jg-jQ0-NJ7RPqqDvrArrCtsZb2BVbDEmrI-aXvDBE4sCZbymuuQJbC12IJJORsqM7ag2LqWtlj6dHO8m3qImptQuaPzLpuHRqMyQAAZPZFAqu_5mMN7qDBcoe899HOq9aZsBRbCdncE6TBk')"></div>
    <div class="overflow-hidden">
      <p class="text-sm font-bold text-gray-900 truncate">Alex Johnson</p>
      <p class="text-xs font-medium text-gray-500 truncate">Facility Manager</p>
    </div>
  </div>
</aside>
